  <h2>Journal History</h2>
  <div>
  <label>Card title:</label> <input #cardName />
  <button (click)="add(cardName.value); cardName.value=''">
    Add
  </button>
</div>


      <ul class="cards">

        <li *ngFor="let card of cards"
          [class.selected]="card === selectedCard"
          (click)="onSelect(card)">
        <span class="badge">{{card.id}}</span> {{card.title}}
        <button class="delete"
            (click)="delete(card); $event.stopPropagation()">x</button>
        </li>
      </ul>

    <div *ngIf="selectedCard">
      <h2>
        {{selectedCard.title | uppercase}} was a great day
     </h2>
     <button (click)="gotoDetail()">View Details</button>
    </div>
