<div *ngIf="card">
    <h2>{{card.title}} details!</h2>

  <div class="row">
    <div class="col-sm-6 col-md-4">
        <div>
          <label>id: </label>{{card.id}}
        </div>
        <div class="col-xs-12">
          <label>title: </label>
          <input [(ngModel)]="card.title" placeholder="title"/>
          <label>Note: </label>
          <input [(ngModel)]="card.note" placeholder="note"/>
         </div>
         <button (click)="goBack()">Back</button>
         <button (click)="save()">Save</button>
    </div>

  </div>
</div>